<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel reportesaio detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Detalles encontrados: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Mostrando primero: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$num_class}">{$label reportesaio num}</th>
			<th class="{$marca_class}">{$label reportesaio marca}</th>
			<th class="{$serie_class}">{$label reportesaio serie}</th>
			<th class="{$unidad_class}">{$label reportesaio unidad}</th>
			<th class="{$area_class}">{$label reportesaio area}</th>
			<th class="{$falla_class}">{$label reportesaio falla}</th>
			<th class="{$fecha_class}">{$label reportesaio fecha}</th>
			<th class="{$usuario_class}">{$label reportesaio usuario}</th>
			<th class="{$ip_class}">{$label reportesaio ip}</th>
			<th class="{$cuenta_class}">{$label reportesaio cuenta}</th>
			<th class="{$evidencia_class}">{$label reportesaio evidencia}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$num_class}">{$num_value}</td>
			<td class="{$marca_class}">{$marca_value}</td>
			<td class="{$serie_class}">{$serie_value}</td>
			<td class="{$unidad_class}">{$unidad_value}</td>
			<td class="{$area_class}">{$area_value}</td>
			<td class="{$falla_class}">{$falla_value}</td>
			<td class="{$fecha_class}">{$fecha_value}</td>
			<td class="{$usuario_class}">{$usuario_value}</td>
			<td class="{$ip_class}">{$ip_value}</td>
			<td class="{$cuenta_class}">{$cuenta_value}</td>
			<td class="{$evidencia_class}">{$evidencia_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>