<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel win10 edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}




<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN entidad_fieldblock}
<tr class="{$fielddispclass_entidad}" data-fieldname="entidad">
	<td class="rnr-label">
		{BEGIN entidad_label}{$label win10 entidad}{END entidad_label}
	</td>
	<td class="rnr-control style3">
		{$entidad_editcontrol}&nbsp;
	</td>
</tr>
{END entidad_fieldblock}
	{BEGIN delegacion_fieldblock}
<tr class="{$fielddispclass_delegacion}" data-fieldname="delegacion">
	<td class="rnr-label">
		{BEGIN delegacion_label}{$label win10 delegacion}{END delegacion_label}
	</td>
	<td class="rnr-control style3">
		{$delegacion_editcontrol}&nbsp;
	</td>
</tr>
{END delegacion_fieldblock}
	{BEGIN unidad_fieldblock}
<tr class="{$fielddispclass_unidad}" data-fieldname="unidad">
	<td class="rnr-label">
		{BEGIN unidad_label}{$label win10 unidad}{END unidad_label}
	</td>
	<td class="rnr-control style3">
		{$unidad_editcontrol}&nbsp;
	</td>
</tr>
{END unidad_fieldblock}
	{BEGIN area_fieldblock}
<tr class="{$fielddispclass_area}" data-fieldname="area">
	<td class="rnr-label">
		{BEGIN area_label}{$label win10 area}{END area_label}
	</td>
	<td class="rnr-control style3">
		{$area_editcontrol}&nbsp;
	</td>
</tr>
{END area_fieldblock}
	{BEGIN hostn7_fieldblock}
<tr class="{$fielddispclass_hostn7}" data-fieldname="hostn7">
	<td class="rnr-label">
		{BEGIN hostn7_label}{$label win10 hostn7}{END hostn7_label}
	</td>
	<td class="rnr-control style3">
		{$hostn7_editcontrol}&nbsp;
	</td>
</tr>
{END hostn7_fieldblock}
	{BEGIN hostn10_fieldblock}
<tr class="{$fielddispclass_hostn10}" data-fieldname="hostn10">
	<td class="rnr-label">
		{BEGIN hostn10_label}{$label win10 hostn10}{END hostn10_label}
	</td>
	<td class="rnr-control style3">
		{$hostn10_editcontrol}&nbsp;
	</td>
</tr>
{END hostn10_fieldblock}
	{BEGIN version_fieldblock}
<tr class="{$fielddispclass_version}" data-fieldname="version">
	<td class="rnr-label">
		{BEGIN version_label}{$label win10 version}{END version_label}
	</td>
	<td class="rnr-control style3">
		{$version_editcontrol}&nbsp;
	</td>
</tr>
{END version_fieldblock}
	{BEGIN nomusuario_fieldblock}
<tr class="{$fielddispclass_nomusuario}" data-fieldname="nomusuario">
	<td class="rnr-label">
		{BEGIN nomusuario_label}{$label win10 nomusuario}{END nomusuario_label}
	</td>
	<td class="rnr-control style3">
		{$nomusuario_editcontrol}&nbsp;
	</td>
</tr>
{END nomusuario_fieldblock}
	{BEGIN cuenta_fieldblock}
<tr class="{$fielddispclass_cuenta}" data-fieldname="cuenta">
	<td class="rnr-label">
		{BEGIN cuenta_label}{$label win10 cuenta}{END cuenta_label}
	</td>
	<td class="rnr-control style3">
		{$cuenta_editcontrol}&nbsp;
	</td>
</tr>
{END cuenta_fieldblock}
	{BEGIN fecha_fieldblock}
<tr class="{$fielddispclass_fecha}" data-fieldname="fecha">
	<td class="rnr-label">
		{BEGIN fecha_label}{$label win10 fecha}{END fecha_label}
	</td>
	<td class="rnr-control style3">
		{$fecha_editcontrol}&nbsp;
	</td>
</tr>
{END fecha_fieldblock}
	{BEGIN archivo_fieldblock}
<tr class="{$fielddispclass_archivo}" data-fieldname="archivo">
	<td class="rnr-label">
		{BEGIN archivo_label}{$label win10 archivo}{END archivo_label}
	</td>
	<td class="rnr-control style3">
		{$archivo_editcontrol}&nbsp;
	</td>
</tr>
{END archivo_fieldblock}
	{BEGIN segmentored_fieldblock}
<tr class="{$fielddispclass_segmentored}" data-fieldname="segmentored">
	<td class="rnr-label">
		{BEGIN segmentored_label}{$label win10 segmentored}{END segmentored_label}
	</td>
	<td class="rnr-control style3">
		{$segmentored_editcontrol}&nbsp;
	</td>
</tr>
{END segmentored_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
	{BEGIN prev_button}
	<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
	{END prev_button}
	{BEGIN next_button}
	<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
	{END next_button}
</div>
<div class="rnr-buttons-left">
		{BEGIN save_button}
	<a href="#" class="rnr-button main" {$savebutton_attrs}>Guardar</a>
	{END save_button}
	{BEGIN reset_button}
	<a href="#" class="rnr-button" {$resetbutton_attrs}>Reiniciar</a>
	{END reset_button}
	{BEGIN back_button}
		<a href="#" class="rnr-button" {$backbutton_attrs}>Volver a la lista</a>
	{END back_button}
	{BEGIN close_button}
	<a href="#" class="rnr-button" {$closebutton_attrs}>Cerrar ventana</a>
	{END close_button}
		{BEGIN view_page_button}
	<a href="#" class="rnr-button" {$view_page_button_attrs}>Ver</a>
	{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
