<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="id_criterio">
	{$id_criterio_editcontrol}
	</control>
	<control field="criterio">
	{$criterio_editcontrol}
	</control>
	<control field="asiact">
	{$asiact_editcontrol}
	</control>
	<control field="inciso">
	{$inciso_editcontrol}
	</control>
	<control field="texto">
	{$texto_editcontrol}
	</control>
	<control field="actividad">
	{$actividad_editcontrol}
	</control>
	<control field="grupo">
	{$grupo_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>