<div {$pageattrs}>

{BEGIN container_dcount}
<div class="rnr-c rnr-cv rnr-c-dcount">


<div  class="rnr-brickcontents style1 rnr-b-detailspreviewheader {$brickclass_detailspreviewheader}">	<h1>{$pagetitlelabel datos detailspreview}</h1>
</div>



<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}">Detalles encontrados: <strong>{$row_count}.</strong>
</div>


{BEGIN display_first}
<div  class="rnr-brickcontents style1 rnr-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}">Mostrando primero: <strong>{$display_count}</strong>.
</div>{END display_first}


</div>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="rnr-c rnr-cont rnr-c--detailspreviewgrid rnr-b-detailspreviewgrid rnr-gridtable">
{BEGIN details_row_header}
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$id_datos_class}">{$label datos id_datos}</th>
			<th class="{$serie_pc_class}">{$label datos serie_pc}</th>
			<th class="{$id_adsc_class}">{$label datos id_adsc}</th>
			<th class="{$servicio_class}">{$label datos servicio}</th>
			<th class="{$cuenta_class}">{$label datos cuenta}</th>
			<th class="{$marca_pc_class}">{$label datos marca_pc}</th>
			<th class="{$modelo_pc_class}">{$label datos modelo_pc}</th>
			<th class="{$nombre_pc_class}">{$label datos nombre_pc}</th>
			<th class="{$ip_pc_class}">{$label datos ip_pc}</th>
			<th class="{$mat_aplicador_class}">{$label datos mat_aplicador}</th>
			<th class="{$mat_encuestado_class}">{$label datos mat_encuestado}</th>
			<th class="{$nombre_class}">{$label datos nombre}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
{END details_row_header}
	<tbody>
{BEGIN details_row}
		<tr class="rnr-row style1">
			<td class="{$id_datos_class}">{$id_datos_value}</td>
			<td class="{$serie_pc_class}">{$serie_pc_value}</td>
			<td class="{$id_adsc_class}">{$id_adsc_value}</td>
			<td class="{$servicio_class}">{$servicio_value}</td>
			<td class="{$cuenta_class}">{$cuenta_value}</td>
			<td class="{$marca_pc_class}">{$marca_pc_value}</td>
			<td class="{$modelo_pc_class}">{$modelo_pc_value}</td>
			<td class="{$nombre_pc_class}">{$nombre_pc_value}</td>
			<td class="{$ip_pc_class}">{$ip_pc_value}</td>
			<td class="{$mat_aplicador_class}">{$mat_aplicador_value}</td>
			<td class="{$mat_encuestado_class}">{$mat_encuestado_value}</td>
			<td class="{$nombre_class}">{$nombre_value}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
{END details_row}	
	</tbody>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>