<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="serie_pc">
	{$serie_pc_editcontrol}
	</control>
	<control field="id_adsc">
	{$id_adsc_editcontrol}
	</control>
	<control field="servicio">
	{$servicio_editcontrol}
	</control>
	<control field="cuenta">
	{$cuenta_editcontrol}
	</control>
	<control field="marca_pc">
	{$marca_pc_editcontrol}
	</control>
	<control field="modelo_pc">
	{$modelo_pc_editcontrol}
	</control>
	<control field="nombre_pc">
	{$nombre_pc_editcontrol}
	</control>
	<control field="ip_pc">
	{$ip_pc_editcontrol}
	</control>
	<control field="mat_aplicador">
	{$mat_aplicador_editcontrol}
	</control>
	<control field="mat_encuestado">
	{$mat_encuestado_editcontrol}
	</control>
	<control field="nombre">
	{$nombre_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>